server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/marcellopedrosa/config-server.git
          default-label: main
          #search-paths: configs
      fail-fast: true
      
management:
  endpoints:
    web:
      exposure:
        include: "*"